# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/movielibrary/node_modules
/moviedatabase/node_modules 
/node_modules
/movielibrary/.pnp
/movielibrary.pnp.js

# testing
/movielibrary/coverage

# production
/movielibrary/build

# misc
/movielibrary/.DS_Store
/movielibrary/.env.local
/movielibrary/.env.development.local
/movielibrary/.env.test.local
/movielibrary/.env.production.local

/movielibrary/npm-debug.log*
/movielibrary/yarn-debug.log*
/movielibrary/yarn-error.log*

