//External imports
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Zilla+Slab&display=swap');

//Helpers and mixins
@import "helpers/breakpoints";
//Globals
div, aside, article, input, button, section, nav {
    box-sizing: border-box;
}

//Variables
$black: #3a3845;
$sand: #f7ccac;
$brown: #c69b7b;
$coffee: #826f66;

html, body {
    font-family: 'Zilla Slab', serif;
    font-size: 14px;

    //increase font-size base on larger screens:
    @include bp('large') {
        font-size: 18px;
    }
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

//Global styles
header {
    background: $black;
    color: $sand;
    display: block;
    overflow: hidden;

    h1 {
        display: inline-block;
        max-width: 300px;
        padding: 1rem;
        float: left;
    }
}
main {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}
footer {
    background: $coffee;
    color: $sand;
    text-align: center;
    padding: 1rem;
}

//Components
@import "components/navigation"; 
@import "components/actors";
@import "components/movies";
@import "components/actor-profile";
@import "components/movie-profile";