@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Zilla+Slab&display=swap");
div, aside, article, input, button, section, nav {
  box-sizing: border-box;
}

html, body {
  font-family: "Zilla Slab", serif;
  font-size: 14px;
}
@media (min-width: 1200px) {
  html, body {
    font-size: 18px;
  }
}

h1, h2, h3 {
  font-family: "Oswald", sans-serif;
}

header {
  background: #3a3845;
  color: #f7ccac;
  display: block;
  overflow: hidden;
}
header h1 {
  display: inline-block;
  max-width: 300px;
  padding: 1rem;
  float: left;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

footer {
  background: #826f66;
  color: #f7ccac;
  text-align: center;
  padding: 1rem;
}

.loader {
  width: 100vw;
  height: 100vh;
  background: rgba(243, 201, 123, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.loader .container {
  height: 15px;
  width: 105px;
  display: flex;
  border-radius: 5px;
  position: relative;
}
.loader .container .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #826f66;
  animation: move 500ms linear 0ms infinite;
  margin-right: 30px;
}
.loader .container .circle:first-child {
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 500ms linear 0ms infinite;
}
.loader .container .circle:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}

@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(45px);
  }
}
header nav {
  width: 100%;
  max-width: calc(100% - 320px);
  float: right;
}
header nav ul {
  list-style-type: none;
  padding: 1.5rem 1rem 0 0;
  display: flex;
  float: right;
}
header nav ul li {
  margin-left: 0.5rem;
}
header nav ul a {
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem;
  border-bottom: 2px solid white;
  transition: ease-in-out 0.5s;
}
header nav ul a.active {
  cursor: default;
  border-bottom: 2px solid #3a3845;
  color: #f7ccac;
}
header nav ul a:hover {
  border-bottom: 2px solid #c69b7b;
  background: #f7ccac;
  color: #3a3845;
}

.profile-button {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  display: block;
  background: #826f66;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #f7ccac;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: ease-in-out 0.5s;
}
.profile-button:hover {
  background: #3a3845;
  color: #f7ccac;
}

#actors {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: baseline;
}
#actors article {
  flex-basis: 1;
  max-width: 250px;
  width: 100%;
  padding: 0;
}
#actors article figure {
  max-width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#actors article figure img {
  width: 100%;
  position: relative;
  z-index: 1;
}
#actors article figure h2 {
  background: #fff;
  padding: 1rem;
  position: absolute;
  bottom: 0px;
  left: 1rem;
  z-index: 2;
  margin-bottom: 0px;
  line-height: 1rem;
}

#movies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0 1rem;
}
#movies article {
  flex-basis: 1;
  padding: 0;
  max-width: 100%;
}
@media (min-width: 767px) {
  #movies article {
    max-width: 48%;
  }
}
@media (min-width: 992px) {
  #movies article {
    max-width: 30%;
  }
}
#movies article figure {
  max-width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#movies article figure img {
  width: 100%;
  position: relative;
  z-index: 1;
}
#movies article figure h2 {
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  position: absolute;
  bottom: 0px;
  left: 0px;
  max-width: 80%;
  z-index: 2;
  margin-bottom: 0px;
  line-height: 1.6rem;
  border-top-right-radius: 5px;
}
#movies .profile-button {
  font-size: 1rem;
}

#movie {
  display: grid;
  grid-template-columns: 50%, 50%;
  grid-template-rows: auto;
  grid-template-areas: "movie poster";
  gap: 1rem;
}
#movie .moviemeta {
  grid-area: movie;
}
#movie .poster {
  grid-area: poster;
}

#actor {
  display: grid;
  grid-template-columns: 50%, 50%;
  grid-template-rows: auto;
  grid-template-areas: "movie poster";
  gap: 1rem;
}
#actor .moviemeta {
  grid-area: movie;
}
#actor .poster {
  grid-area: poster;
  height: 30vh;
  
}


ul.cast {
  list-style-type: none;
  padding: 0;
}
ul.cast li {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 1px;
}
ul.cast li a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-start;
  align-items: center;
  background: #f7ccac;
  text-decoration: none;
  color: #3a3845;
  transition: ease-in-out 0.3s;
}
ul.cast li a:hover {
  background: #826f66;
  color: #f7ccac;
}
ul.cast li a:hover img {
  transition: ease-in-out 0.3s;
  transform: scale(1.2);
}
ul.cast li img {
  width: 80px;
}
ul.cast li span {
  margin-left: 20px;
}

/*# sourceMappingURL=MovieApp.css.map */
